/* @font-face {
    font-family: 'ModamRegular';
    src: url('/public/fonts/Modam-Regular.ttf') format('ttf'),
         url('/public/fonts/Modam-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
     font-family: 'ModamVF';
     src: url('/public/fonts/ModamVF.woff') format('woff'),
          url('/public/fonts/ModamVF.woff2') format('woff');
     font-weight: normal;
     font-style: normal;
   }
  
  @font-face {
    font-family: 'ModamBold';
    src: url('/public/fonts/Modam-Bold.ttf') format('ttf'),
         url('/public/fonts/Modam-Bold.ttf') format('ttf');
    font-weight: bold;
    font-style: normal;
  } */